*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!results
!results/plots
!results/tables
!results/logs
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
